h1{
  margin-bottom: 100px


}

#nalgene {

  width: 300px;
  height: 300px;
  float: right;
  padding-left: 30px;
  padding-right: 40px;
  margin-right: 60px;
  border: solid 3px;

}

.form-control {

    float: right;
}

.btn-outline-success{

  float: right;

}

nav{

  padding-bottom: 50px;


}
